@()(implicit request:Request[Any], lang: play.api.i18n.Lang)

<li class="dropdown-header">@Messages("genCMS.sidebar.title")</li>
<li class="divider"></li>
<!-- ko if: (headVM.availableTypes().length > 0) -->
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("genCMS.sidebar.typ") <b class="caret"></b></a>
		<ul class="dropdown-menu span10">
		  <div class="panel-body">
		        <div class="list-group">
		        	<!-- ko foreach: headVM.availableTypes -->
				  <a data-bind="attr:{class: headVM.filterType()==_id ? 'list-group-item active':'list-group-item'}, click:function(){headVM.setFilterType($data)}, clickBubble:false" href="#">
				    <span class="badge" data-bind="text: count"></span>
				    <span class="navTagFilterText" data-bind="text: name"></span>
				  </a>
				   <!-- /ko -->
				</div>
				<!-- ko if: (headVM.filterType()!="") -->
				<button type="button" class="btn btn-default btn-sm btn-tag-remove" data-bind="click: function(){headVM.setFilterType({'name':'', '_id':'', 'count':0})}, clickBubble:false"><i class="fa fa-ban fa-sm"></i> @Messages("genCMS.docView.clearFilter")</button>
				<!-- /ko -->
		      </div>
		</ul>
	</li>
<!-- /ko -->
<!-- ko if: (headVM.availableTags().length > 0) -->
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("genCMS.sidebar.tags") <b class="caret"></b></a>
		<ul class="dropdown-menu span10">
			<div class="panel-body">
				<div  data-bind="genCMStagCloud: headVM.availableTags"></div>
			</div>
		</ul>
	</li>
<!-- /ko -->