@(user: String="")(implicit request:Request[Any], lang: play.api.i18n.Lang)


<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="page-header">
				<h1>@Messages("genCMS.project.settings.title")</h1>
			</div>
			<div class="well">
				<div data-bind="if: messageShown">
					<div  data-bind="attr: {class: messageClass()}">
		  				<button type="button" class="close" data-bind="click: deleteMessage">&times;</button>
		  				<span data-bind="text: message"></span>
					</div>
				</div>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
				  <li class="active"><a href="#basicSettings" data-toggle="tab">@Messages("genCMS.project.settings.basicSettings")</a></li>
				  <li><a href="#tagsSettings" data-toggle="tab">@Messages("genCMS.project.settings.tags")</a></li>
				  <li><a href="#roleSettings" data-toggle="tab">@Messages("genCMS.project.settings.authorRoles")</a></li>
				  <li><a href="#docStyleSettings" data-toggle="tab">@Messages("genCMS.project.settings.docStyles")</a></li>
				</ul>
				
				<!-- Tab panes -->
				<div class="tab-content">
				  <div class="tab-pane fade in active" id="basicSettings">
				  	@project.basicSettings()
				  </div>
				  <div class="tab-pane fade" id="tagsSettings">
				    @project.tagsSettings()
			      </div>
				  <div class="tab-pane fade" id="roleSettings">
				  	@project.roleSettings()
				  </div>
				  <div class="tab-pane fade" id="docStyleSettings">
				  	@project.documentStyles()
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>