@(user: String="")(implicit request:Request[Any], lang: play.api.i18n.Lang)
<div class="container">
	 <div id="newProject">
		 <h2>@Messages("genCMS.project.new.create")</h2>
		 <div data-bind="if: messageShown">
			<div  data-bind="attr: {class: messageClass()}">
	  			<button type="button" class="close" data-bind="click: deleteMessage">&times;</button>
	  			<span data-bind="text: message"></span>
			</div>
		</div>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="projectName" class="col-sm-2 control-label">@Messages("genCMS.project.new.name")</label>
				<div class="col-sm-5">
					<input type="text" id="projectName" class="form-control" data-bind="value: newProject().title, valueUpdate: 'afterkeydown'" placeholder="Projectname"/>
				</div>
			</div>
		</form>
		<button type="button" class="btn btn-success" data-bind="click: $root.saveProject"><i class="fa fa-save fa-lg"/> @Messages("genCMS.project.new.create")</button>
		<button type="button" class="btn btn-warning" onClick="history.back();"> <i class="fa fa-reply fa-lg"/> @Messages("genCMS.project.new.cancel")</button>
	</div>
</div>