@* basicSettings Template File *@
@(param: Any)(implicit request:Request[Any], lang: play.api.i18n.Lang)

<div class="form-horizontal well well-sm">
	<div class="form-group">
	<div class="col-sm-5">
		<div class="form-group">
			<ol class="tagDrag vertical" data-bind="foreach: selectedProject().tags">
		      	<li class="level1" data-bind="attr:{tagname:$data}">
		        <!-- ko text:$data --><!-- /ko -->
		        <button type="button" class="close" data-bind="click: function(){ $root.removeTag($data)}"><i class="fa fa-trash-o fa-sm text-danger"/></button>
		        <ol class="level2"></ol>
		        </li>
		    </ol>
		</div>
	    <div class="form-group">
			<label for="tagsInput" class="col-sm-2 control-label">@Messages("genCMS.project.tags.tagName")</label>
			<div class="col-sm-5">
				<input id="tagsInput" type="text" class="form-control" data-bind="value: newTag, valueUpdate: 'afterkeydown'" placeholder="@Messages("genCMS.project.tags.tagName")"/>
				<span id="tagsInputHelp1" data-bind="attr: {class: (newTagUnique()==false && newTag()!='') ? 'help-inline' : 'help-inline hidden'}">@Messages("constraint.unique")</span>
				<span id="tagsInputHelp2" data-bind="attr: {class: newTag()=='' ? 'help-inline' : 'help-inline hidden'}">@Messages("constraint.required")</span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-success" data-bind="click: function(){$root.addTag()}, enable: (newTagUnique()==true && newTag()!='')"><i class="fa fa-plus fa-lg"></i> @Messages("genCMS.project.tags.addTag")</button>
			</div>
		</div>
	</div>
	
	<div class="col-sm-7">
		<div class="form-group">
			<ol class="tagDrop vertical">
		    </ol>
	    </div>
	    <div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="button" class="btn btn-success" data-bind="click: function(){$root.saveTags()}"><i class="fa fa-plus fa-lg"></i> @Messages("genCMS.project.tags.saveTag")</button>
			</div>
		</div>
	</div>
  </div>
</div>	   